
body {
    font-family:monospace;
    --color-red: #b71348;
    --color-blue: #2688d1;
    --color-green: #00ad94;
    --color-yellow: #f2ae16;
    --color-dark: #042b49;
    --color-light-brown: #d5bdaf;
    --color-light: #f0f2f4;
}

#main {
    padding: 10px;
}

#header:before {
    content: "Header";
    font-weight: bold;
    color: var(--color-dark); 
    display: inline;
    margin-top: -20px;
    background-color: white;
    position: absolute;
    padding: 0px 5px;
    font-size: small;
}

#header {
    margin: 0px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    
    display: inline-block;
    width: 100%;
}

/* #content:before {
    content: "Content";
    font-weight: bold;
    color: var(--color-dark); 
    display: inline;
    margin-top: -20px;
    background-color: white;
    position: absolute;
    padding: 0px 5px;
    font-size: small;
} */

#content {
    margin: 0px;
    margin-top: 10px;
    /* padding: 10px;
    border: 1px solid var(--color-dark);
    border-radius: 5px; */
    
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#players:before {
    content: "Players";
    font-weight: bold;
    color: var(--color-dark); 
    display: inline;
    margin-top: -20px;
    background-color: white;
    position: absolute;
    padding: 0px 5px;
    font-size: small;
}

#players {
    margin: 0px;
    padding: 10px;
    border: 1px solid var(--color-dark);
    border-radius: 5px;

    display: inline-block;
    width: calc(40% - 6px);
    vertical-align: top;
    font-size: 12px;
}

#players .player:before {
    content: "-";
    white-space:pre;
    color: var(--color-dark);
}

#players .player.playing:before {
    content: "❱";
    color: var(--color-red);
    font-weight: bold;
}

#players .player.win:before {
    content: "➀";
    color: var(--color-yellow);
    font-weight: bold;
}

#players .player.loose:before {
    content: "➁";
    color: var(--color-red);
    font-weight: bold;
}

#players .player.tie:before {
    content: "➀";
    color: var(--color-dark);
    font-weight: bold;
}

#players .player.symbol-1:after {
    content: " [X]";
    color: var(--color-yellow);
}

#players .player.symbol-2:after {
    content: " [O]";
    color: var(--color-blue);
}

#players .player {
    color: var(--color-dark);
    display: block;
}

#board:before {
    content: "Board";
    font-weight: bold;
    color: var(--color-dark); 
    display: inline;
    margin-top: -20px;
    background-color: white;
    position: absolute;
    padding: 0px 5px;
    font-size: small;
}

#board {
    margin: 0px;
    padding: 10px;
    border: 1px solid var(--color-dark);
    border-radius: 5px;

    display: inline-block;
    width: calc(60% - 4px);
    vertical-align: top;
    text-align: center;
}

#board.player.playing {
    border: 3px solid var(--color-red);
}

#board .board {
    display: inline-block;
}

#notifications:before {
    content: "Notifications";
    font-weight: bold;
    color: var(--color-dark); 
    display: inline;
    margin-top: -20px;
    background-color: white;
    position: absolute;
    padding: 0px 5px;
    font-size: small;
}

#notifications {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--color-dark);
    border-radius: 5px;

    display: inline-block;
    width: 100%;
}

#errors:before {
    content: "Errors";
    font-weight: bold;
    color: var(--color-dark); 
    display: inline;
    margin-top: -20px;
    background-color: white;
    position: absolute;
    padding: 0px 5px;
    font-size: small;
}

#errors {
    margin: 0px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--color-dark);
    border-radius: 5px;

    display: inline-block;
    width: 100%;
    color: darkred;
}

.websocket {
    margin: 0px;
    padding: 10px;
    border: 1px solid var(--color-dark);
    border-radius: 5px;

    display: inline-block;
    width: 100%;
}

.loading {
    margin: auto;
    color: var(--color-dark);
}

#board .cell-container {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#board .cell {
    font-family: monospace;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: gray 3px 3px 0px;
    text-align: center;
    margin: 0px;
    white-space:pre;
}

#board .cell.empty {
    background-color: var(--color-light-brown);
}

#board .cell.symbol-1 {
    background-color: var(--color-yellow);
}

#board .cell.symbol-2 {
    background-color: var(--color-blue);
}

#board .player.playing.symbol-1 .cell.empty:hover {
    background-color: var(--color-yellow);
    cursor: pointer;
}

#board .player.playing.symbol-2 .cell.empty:hover {
    background-color: var(--color-blue);
    cursor: pointer;
}

#ws-status {
	color: var(--color-dark);
    float:right;
}
#ws-status::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 19px;
	margin-right: 0.2em;
	vertical-align: middle;
	background-image: url(/static/share/ws-status.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 100px 19px;
}
#ws-[data-status="connected"] { color: var(--color-green); }
#ws-status[data-status="error"] { color: var(--red-color); }
#ws-status[data-status="connecting"] { color: var(--color-blue); }
#ws-status[data-status="disconnected"] { color: var(--color-yellow); }

#ws-status[data-status="connected"]::before { background-position: left center; }
#ws-status[data-status="error"]::before { background-position: -25px center; }
#ws-status[data-status="connecting"]::before { background-position: -50px center; }
#ws-status[data-status="disconnected"]::before { background-position: right center; }